<!-- Step 9 Using ejs-mate ( commented part ) -->
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head> -->


<!-- Step 9 - except for body all other code is in boilerplate -->
<% layout("/layouts/boilerplate") %>

<body>
    
    <h3>Create a New Listing</h3>

    <!-- Step 6 -->
    <form action="/listings" method="post">
        <input type="text" name="listing[title]" placeholder="enter title">
        <br><br>
        <textarea name="listing[description]" placeholder="enter description"></textarea>
        <br><br>
        <input type="text" name="listing[image]" placeholder="enter image URL/link for now">
        <br><br>
        <input type="number" name="listing[price]" placeholder="enter price">
        <br><br>
        <input type="text" name="listing[location]" placeholder="enter location">
        <br><br>
        <input type="text" name="listing[country]" placeholder="enter country">
        <br><br>
        <button>Add</button>
    </form>

</body>

<!-- Step 9 -->
<!-- </html> -->